{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>Calendars</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{% url 'calendar-list' %}">Calendars</a></li>
        <li class="breadcrumb-item active">
            <a style="color: {{calendar.color}};" href="{{calendar.get_absolute_url}}">{{calendar.name}}</a>
            {% if calendar.public %}(Public){% endif %}
        </li>
    </ol>
</nav>

{% if 'completed' in request.GET %}
<a href="{{request.path}}" class="btn btn-sm btn-warning">Hide Completed</a>
{% else %}
<a href="{{request.path}}?completed=1" class="btn btn-sm btn-success">Show Completed</a>
{% endif %}

<table class="table table-sm">
    <tr>
        <th>Task</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Status</th>
        <th>Etag</th>
    </tr>
    {% for todo in event_set.all %}
    <tr {% if todo.status == 'COMPLETED' %}class="bg-light" {% endif %}>
        <td>
            <a href="{{todo.get_absolute_url}}">{{todo.summary}}</a>
            {% if calendar.owner == request.user %}
            <a href="{% url 'todo-update' calendar.pk todo.pk %}" class="float-right btn btn-warning btn-sm">{% translate 'Change' %}</a>
            {% endif %}
        </td>
        <td>{{todo.created}}</td>
        <td>{{todo.updated}}</td>
        <td>{{todo.status}}</td>
        <td>{{todo.etag}}</td>
    </tr>
    {% endfor %}

    {% if calendar.owner == request.user %}
    <form method="POST" action="{% url 'todo-create' calendar.pk %}">
        {% csrf_token %}
        <tr>
            <td colspan="3"><input class="form-control" name="summary" placeholder="Summary of new task" /></td>
            <td><button class="btn btn-sm btn-success">{% translate 'Add' %}</button></td>
        </tr>
    </form>
    {% endif %}
</table>

{% endblock %}
