{% extends 'base.html' %}

{% block content %}
<h1>Calendars</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{% url 'calendar-list' %}">Calendars</a></li>
        <li class="breadcrumb-item active">
            <a style="color: {{calendar.color}};" href="{{calendar.get_absolute_url}}">{{calendar.name}}</a>
        </li>
    </ol>
</nav>



<table class="table table-sm">
    <tr>
        <th>Task</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Status</th>
    </tr>
    {% for todo in calendar.event_set.all %}
    <tr>
        <td><a href="{{todo.get_absolute_url}}">{{todo.summary}}</a></td>
        <td>{{todo.created}}</td>
        <td>{{todo.updated}}</td>
        <td>{{todo.status}}</td>
    </tr>
    {% endfor %}
    <form method="POST" action="{% url 'todo-create' calendar.pk %}">
        {% csrf_token %}
        <tr>
            <td colspan="3"><input class="form-control" name="summary" placeholder="Summary of new task" /></td>
            <td><button class="btn btn-sm btn-success">Create</button></td>
        </tr>
    </form>
</table>




{% endblock %}
