{% extends 'base.html' %}

{% block content %}
<h1>Calendars</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{% url 'calendar-list' %}">Calendars</a></li>
        <li class="breadcrumb-item active">
            <a style="color: {{calendar.color}};" href="{{calendar.get_absolute_url}}">{{calendar.name}}</a>
        </li>
    </ol>
</nav>

<form method="POST">
    {% csrf_token %}
    <table class="table">
        {{form.as_table}}
    </table>
    <button class="btn btn-sm btn-warning">Update</button>
</form>




{% endblock %}
