{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>Calendars</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{% url 'calendar-list' %}">Calendars</a></li>
        <li class="breadcrumb-item active">
            <a href="{{object.calendar.get_absolute_url}}">{{object.calendar.name}}</a>
            {% if object.calendar.public %}(Public){% endif %}
        </li>
        <li class="breadcrumb-item active"><a href="{{object.get_absolute_url}}">{{object.summary}}</a></li>
    </ol>
</nav>
<div class="form-row">
    <div class="col-6">
        <table class="table">
            <tr>
                <th>Summary</th>
                <td>{{object.summary}}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{object.created}}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{object.updated}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{object.status}}</td>
            </tr>
            <tr>
                <th>Etag</th>
                <td>{{object.etag}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{object.description}}</td>
            </tr>
        </table>
        <a href="{% url 'todo-update' object.calendar.pk object.pk %}" class="float-right btn btn-warning btn-sm">{% translate 'Change' %}</a>
    </div>
    <div class="col-6">
        <h2>Debug</h2>
        <pre>{{object.raw}}</pre>
    </div>
</div>

{% endblock %}
