{% extends 'base.html' %}
{% load todo %}
{% block content %}

<div class="row">
    <div class="col-sm-3">
        <ul>
            <li>
                    <a href="{% url 'inbox' %}">Inbox</a></td>
            </li>
            {% for project in project_list %}
            <li>
                <td><a href="{{project.get_absolute_url}}">{{project.title}}</a></td>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-9">
        <table>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Title</th>
            </tr>
        {% for task in task_list %}
            <tr>
                <td>{{task|icon}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.title}}</td>
                <td>
                    {% if task.external %}
                        <a href="{{task.external.url}}">X</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}