{% extends 'base.html' %}
{% load todo %}
{% block content %}

{% regroup task_list by due as grouped_tasks %}

{% for tl in grouped_tasks %}
        <h2>{{tl.grouper}}</h2>
        <table>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Title</th>
                <th>Start</th>
                <th>Due</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        {% for task in tl.list %}
            <tr {% if task.due < today %}class="text-danger"{% endif %}>
                <td>
                    <form method="POST" action="{% url 'task' pk=task.pk %}">{% csrf_token %}
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{task|icon}}</button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" name="status" value="1">Open</button>
                                <button class="dropdown-item" name="status" value="2">Complete</button>
                                <button class="dropdown-item" name="status" value="3">Cancel</button>
                            </div>
                        </div>
                    </form>
                </td>
                <td>{{task|priority}}</td>
                <td>{{task.title}}
                    <br>
                    {% if task.project %}
                    <a class="badge badge-primary" href="{{task.project.get_absolute_url}}">{{task.project.title}}</a>
                    {% endif %}
                    {% for tag in task.tag_set.all %}
                    <span class="badge badge-secondary">{{tag.title}}</span>
                    {% endfor %}
                </td>
                <td>
                    <form method="POST" action="{% url 'task' pk=task.pk %}">{% csrf_token %}
                        <input name="next" type="hidden" value="{{request.path}}" />
                        <input name="start" type="date" value="{{task.start|date:"c"}}" />
                        <button class="btn btn-primary btn-sm">&nbsp;</button>
                    </form>
                </td>
                <td>
                    <form method="POST" action="{% url 'task' pk=task.pk %}">{% csrf_token %}
                        <input name="next" type="hidden" value="{{request.path}}" />
                        <input name="due" type="date" value="{{task.due|date:"c"}}" />
                        <button class="btn btn-primary btn-sm">&nbsp;</button>
                    </form>
                </td>
                <td>
                    {% if task.external %}
                        <a href="{{task.external.url}}">E</a>
                    {% endif %}
                </td>
                <td><a href="{{task.get_absolute_url}}">?</a></td>
            </tr>
        {% endfor %}
        </table>
{% endfor %}

{% endblock %}