<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">ToDo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if not user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'today' %}">Today</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'upcoming' %}">Upcoming</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'inbox' %}">Inbox</a>
                </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <form class="form-inline my-2 my-lg-0" action="{% url 'task-add' %}" method="POST">
        {% csrf_token %}
        <input name="search" class="form-control mr-sm-2" type="search" placeholder="Add a new task" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">New Task</button>
      </form>
</nav>